<app-sign-base [title]="'Ustaw nowe hasło'">

  <div class="d-flex flex-column">
    <form [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="passwordInput">Hasło</label>
        <input type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Wpisz nowe hasło"
          [formControlName]="'password'">
      </div>
      <div class="form-group">
        <label for="rePasswordInput">Powtórz hasło</label>
        <input type="password"
          class="form-control"
          id="rePasswordInput"
          placeholder="Powtórz swoje hasło"
          [formControlName]="'rePassword'">
      </div>

      <div class="card border-danger mb-3"
        *ngIf="changePasswordForm.errors?.noMachPassword">
        <div class="card-body text-danger">
          <p class="card-text">Hasła nie sa identyczne!</p>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit"
          class="btn btn-primary"
          [disabled]="!changePasswordForm.valid">Ustaw hasło</button>
      </div>

    </form>
  </div>
</app-sign-base>