<app-sign-base [title]="'Resetuj hasło'">
  <div class="d-flex flex-column">
    <form [formGroup]="resetForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="loginInput">Adres email</label>
        <input type="email"
          class="form-control"
          id="loginInput"
          placeholder="Wpisz swój adres email"
          [formControlName]="'email'">
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit"
          class="btn btn-primary" 
          [disabled]="!resetForm.valid"
          >Wyślij</button>
      </div>
    </form>
  </div>
</app-sign-base>