<app-sign-base [title]="'Logowanie'">
  <div class="d-flex flex-column">
    <form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="loginInput">Adres email</label>
        <input type="email"
          class="form-control"
          id="loginInput"
          placeholder="Wpisz swój adres email"
          [formControlName]="'email'">
      </div>
      <div class="form-group">
        <label for="passwordInput">Hasło</label>
        <input type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Wpisz swoje hasło"
          [formControlName]="'password'">
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid">Zaloguj</button>
      </div>
    </form>
  </div>

  <div class="d-flex flex-column align-items-start">
    <button type="button"
      class="btn btn-link"
      [routerLink]="'/restart-password'">Nie pamiętasz hasła</button>
    <button type="button"
      class="btn btn-link"
      [routerLink]="'/register'">Nie masz konta? Zarejestruj się</button>
  </div>
</app-sign-base>