<div class="d-flex px-4 pt-4 flex-column">
  <h2>Dodaj użytkownika</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="userEmailInput">Email</label>
      <input type="text" class="form-control" id="userEmailInput" placeholder="Wpisz adres email"
        [formControlName]="'email'">
    </div>

    <div class="form-group">
      <label for="userPasswordInput">Hasło</label>
      <input type="password" class="form-control" id="userPasswordInput" placeholder="Wpisz hasło"
        [formControlName]="'password'">
    </div>

    <div class="form-group">
      <label for="userNameInput">Imię</label>
      <input type="text" class="form-control" id="userNameInput" placeholder="Wpisz imię" [formControlName]="'name'">
    </div>

    <div class="form-group">
      <label for="userLastnameInput">Nazwisko</label>
      <input type="text" class="form-control" id="userLastnameInput" placeholder="Wpisz nazwisko"
        [formControlName]="'lastname'">
    </div>



    <div class="form-group">
      <label for="selectType">Rola</label>
      <select class="custom-select" id="selectType" [formControlName]="'role'">
        <option [ngValue]="null">Wybierz rolę</option>
        <option [ngValue]="selectOption.value" *ngFor="let selectOption of roleOptions">{{selectOption.label}}
        </option>
      </select>
    </div>


    <div class="d-flex">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Zapisz</button>
    </div>
  </form>
</div>